@import '../assets/css/_mixins.scss';

.profile-pic {
  height:30%;
  border-radius: 50%;
  padding: .5vh;
}

.landing-grid {
  background: #ffd89b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;

}

.banner {
  background-color: black;
  opacity: .8;
  width: 50%;
  border-radius: 10px;
  margin: auto;

  h1, h2 {
    line-height: 20px;
    font-weight: bold;
    color: white;
  }

  h1 {
    font-size: 16px;
    @include small-screen-landscape {
      font-size: 20px;
    }

    @include medium-screen-landscape {
      font-size: 24px;
      line-height: 40px;
    }

    @include large-screen-landscape {
      font-size: 40px;
    }
  }
  h2 {
    font-size: 14px;
    @include small-screen-landscape {
      font-size: 16px;
    }

    @include medium-screen-landscape {
      font-size: 18px;
      line-height: 40px;
    }

    @include large-screen-landscape {
      font-size: 30px;
    }
  }

  hr {
    border: 3px solid white;
    width: 50%;
    margin: auto;
  }


}
